

    h1{ 
        color: white;
    
    }

    h2{ 
        color: purple;
    
    }

    
    <style>
    .button {
        padding: 150px 50px;
        font-size: 16px;
        background-color: rgb(255, 192, 252);






